/*
** file: css/main.css
** description: custom styling for "html/main.html" file
*/

div#main-outer {
    width: 300px;
    margin: 5px;
    background: #DDD;
    border-radius: 5px;
}

div#main-inner {
    padding: 8px;
}

div#main-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

div#main-about-text {
    margin-top: 10px;
    text-align: center;
}

div#title {
    width: 300px;
    margin: 5px;
    background: #DDD;
    border-radius: 5px;
    text-align: center;
}

div#row {
    width: 300px;
    display: flex;
    margin: 5px;
    background: #DDD;
    /*border-radius: 5px;*/
}


div#column {

    width: 150px;
    margin: 5px;
    background: #DDD;
    /*border-radius: 5px;*/
    text-align:left;
}

div#price {

    width: 300px;
    margin: 5px;
    background: #DDD;/*
    border-radius: 5px;*/
    text-align:center;
}


a.classbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    width: 150px;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
}